<!doctype html>
<html ng-app="tweeckrApp">
  <head>
    <title>Tweeckr - Twitter background check as a service.</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <script src="bower_components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="bower_components/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="bower_components/moment/moment.js" type="text/javascript" charset="utf-8"></script>

    <script src="js/app.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/constant.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/controller.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/service.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/directive.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/filter.js" type="text/javascript" charset="utf-8"></script>

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
  </head>

  <body>

    <div class="container" ng-controller="mainCtrl">

      <div class="header">
        <div class="container text-center">
          <h1><i class="fa fa-twitter"></i> Tweeckr</h1>
          <p class="lead">Twitter background check as a service.</p>

          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12">
              <div class="input-group input-group-lg">
                <span class="input-group-addon">@</span>
                <input class="form-control" type="text" ng-model="screenname" ng-enter="check()" autofocus>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="check()">check!</button>
                </span>
              </div>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12">
              <div class="form-group col-md-6">
                <div class="input-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-retweet"></i></span>
                  <input class="form-control" type="number" ng-model="minRetweets" autofocus>
                </div>
              </div>

              <div class="form-group col-md-6">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="picturesOnly"> <i class="glyphicon glyphicon-picture"></i> only
                  </label>
                </div>
              </div>
            </div>
          </div>

        </div>
        <br>

        <div class="alert alert-danger" ng-if="apiError"> {{ apiError }} </div>

        <div ng-if="user">
          <div class="row text-center">
            <div>
              <img ng-src="{{ user.profile_image_url }}" class="img-circle">
            </div>
            <div>
              <h3>{{ user.name }} - <a href="//twitter.com/{{ user.screen_name }}" target="_blank" class="small">@{{ user.screen_name }}</a></h3>
              <h4 ng-if="reputation_score">Reputation score : <span class="label {{ reputation_score | label }}">{{ reputation_score }}pts</span></h4>
            </div>
          </div>

          <br/>
          <div>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="t in latest_tweets | matchFilters : picturesOnly : minRetweets">
                <span class="label {{ t.reputation_score | label }}"> {{ t.reputation_score }}</span>
                <span class="small text-muted" title="{{ t.created_at }}">{{ t.created_at | timeago }}</span> -
                <span class="text-muted">{{ t.retweet_count }} <i class="glyphicon glyphicon-retweet"></i></span> -
                <span class="text-muted">{{ t.favorite_count }} <i class="glyphicon glyphicon-star"></i></span> -
                <a href="//twitter.com/{{ user.screen_name }}/status/{{ t.id_str }}" target="_blank">{{ t.text }}</a>
                <br/>
                <br/>
                <ul class="list-group">
                  <li ng-repeat="m in t.extended_entities.media">
                    <img ng-src="{{ m.media_url }}" class="img-thumbnail">
                  </li>
                </ul>
              </li>
            </ul>
          </div>

        </div>

    </div>

  </body>

</html>
